# 配置文件
config.toml

# 密钥文件
*.pem

# 备份文件
main.py.bak

# 测试文件
test_jwt.py

# Python缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# 日志文件
*.log

# 环境文件
.env
.venv
env/
venv/
ENV/

# IDE文件
.idea/
.vscode/
*.swp
*.swo
